.content {
    width: 1400px;
    margin: auto;
    display: flex;
    .example-spacer {
      flex: 1 1 auto;
    }
    button {
        margin: 0px 10px;
    }
}
nav {
  width: 100%;
  height: auto;
  background-color: rgb(63, 81, 181);
  div {
    .active {
      color: rgb(63, 81, 181)!important;
      padding-bottom: 2px;
      background: radial-gradient(ellipse farthest-side at bottom left, rgb(255, 255, 255) 4%, rgb(63, 81, 181) 12%);
      animation: borderShow;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      @keyframes borderShow {
        0% { background-size: 100% }
        100% { background-size: 2000% }
      }
    }
    justify-content: space-between;
    .menu {
      width: 45%;
      padding: 15px 0px;
      ul {
        display: flex;
        justify-content: space-between;
        li {
          background-color: rgb(63, 81, 181);
          padding: 0px 10px;
          cursor: pointer;
          font-size: 17px;
          color: rgb(255, 255, 255);
          box-sizing: border-box;
          list-style: none;
          height: 40px;
          display: flex;
          align-items: center;
        }
      }
    }
    .cart-favorites {
      display: flex;
      align-items: center;
      mat-icon {
        margin: 0px 8px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
      }
    }
    .search {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      section {
        width: 66px;
        height: auto;
        padding: 5px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: 1s;
        input {
          width: 70%;
          height: 30px;
          border-radius: 5px;
          border: none;
          outline: none;
          animation-name: show;
          animation-duration: 2s;
          animation-fill-mode: forwards;
          @keyframes show {
            0% { width: 0px }
            100% { width: 70% }
          }
        }
        button {
          margin: 0;
        }
      }
    }
  }
}
